@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100..900&family=Sankofa+Display&display=swap');
@import url('https://fonts.cdnfonts.com/css/lemonmilk');


* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal; 
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    width: auto/9;
}

a {
    color: red;
}

.meeting-info-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    /*transform: translate(0px, -190px);  */
}

.meetings_fg_img {
    transform: translate(0px, -25px);
}

.about-section-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Ensure video stays behind content */
    transform: translate(-50%, -50%);
    
}

.section-1 {
    position: relative;
    z-index: 1; /* Content stays above the video */
    color: white; /* Example text color */
    text-align: center;
}

.homepage_content {
    position: absolute;
    justify-content: cover;
}

.tac-about {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
    z-index: 1;

    transform: translate(0px, 0px);

    font-size: large;
    color: black;
    text-align: center; 
    

    margin: 0;
    padding: 0;
}

.about-div {
    border: 2px solid black;
    align-items: center;
    transform: scale(0.8);
    background-color: black; 
}

.about-img {
    display: flex;
    position: static;
    align-items: center;
    padding: 50px 50px;
    transform: translate(0px, -40px);
    transform: scale(.9);
}

.about-header {
    padding: 20px;
    color: white;
}

.club-info {
    
    border: 2px solid black;
    transform: translate(0px, -80px);
    color: white;

}
    
@media print{
    .page-break-after{
        page-break-after: always;
    }
}

/* Header Styling 
-----------------------------------------------------------------------------------------------------------------------------------------
*/

header {
   position: relative; 
   z-index: 10;
}

.header-logo {
    padding: 7px;
    width: 80px;
    z-index: 1;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 20px;

    display: inline-block; 
    padding: 0em 0.8em;
    /*padding-top: 1em;*/
    color: white;
    text-decoration: none;
    z-index: 1;
}

.nav a:hover {
    color: rgba(199, 34, 34);
}

.main-nav {
    text-align: right;
    font-size: 0.5em;
    padding: 0 2%;
}

.main-nav li{
    padding: 0 0%; 
}

.main-header{
    background-color: rgba(0, 0, 0, .5);
    /*background-image: url("images/USC TAC Web Background.png");*/
    background-size: cover;
    background-blend-mode: multiply;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/* End of Header Styling 
-----------------------------------------------------------------------------------------------------------------------------------------
*/

/*Home Page Styling
-----------------------------------------------------------------------------------------------------------------------------------------
*/

.welcome_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 1200px;
}

.home-body {
    /*background-color: white;*/
    background-image: url("images/school-rooftop-bg-lp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: scroll;
    overflow: hidden;
}

/*End of Home Page Styling
-----------------------------------------------------------------------------------------------------------------------------------------
*/

/*Flexbox Styling
-----------------------------------------------------------------------------------------------------------------------------------------
*/

.opening-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    min-height: 100vh;

    overflow: hidden;
}


.chracter-container {
    display: flex;
    background-color: black;
    
    height: 100vh;
    width: 100%;
    max-width: 100%;
    
    box-sizing: border-box;
    justify-content: flex-end;
    position: relative;

    overflow: hidden;
}


.home-chracter {
    height:auto;
    max-height: 100%;

    width:auto;
    max-width: 100%;
    
    transform: translate(190px);
}

.welcome-container { 
    display: flex;

    height: 5vh;
    width: 100%;

    transform: translate(0px,-605px);
    
    align-items: center;
    justify-content: center;
}

.welcome-box {
    height: auto;
    max-width:100%;
    
    transform: translate(-20px,0px);
}

.title-container {
    display: flex;

    height: 15vh;
    width: 100%;
    
    transform: translate(0px,-600px);
    align-items: center;
    justify-content: center;
}

.trojan-box{
    height: auto;
    max-width:100%;
    transform: translate(70px,0px);
}

.anime-box{
    height: auto;
    max-width:100%; 
}

.culture-box{
    height: auto;
    max-width:100%;
    transform: translate(-70px,0px);
}


/* End of Flexbox Styling
-----------------------------------------------------------------------------------------------------------------------------------------
*/


/* Start of Rules page Styling
-----------------------------------------------------------------------------------------------------------------------------------------
*/



























